.git
**/pb_data
**/node_modules
test-results
playwright-report
example/pocketbase
.env
.env.*

**/.fvm
**/.dart_tool
**/build
**/coverage
**/.DS_Store
**/pubspec_overrides.yaml
**/pb_backups
**/*.p8
**/*.p12
**/*.pem
**/*.key
**/*.jks
**/*.keystore
**/*.db*
**/*.sqlite*
