pb_data/
example/pocketbase
node_modules/
test-results/
playwright-report/
.env
.env.*
!.env.example
.DS_Store
.dart_tool/
build/
.flutter-plugins-dependencies
packages/**/pubspec.lock
packages/**/coverage/

# FVM Version Cache
.fvm/
.fvm/
examples/**/coverage/
